@font-face {
    font-family: 'IBM';
    src: url('../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}

*{
    margin: 0;
}

body{
    background-color: #5f5c5c;
    font-family: 'IBM';
}

.container{
    border: 10px solid #e6e3e3;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background: linear-gradient(#747272, #b5b2b2);
    text-align: center;
    box-shadow: 0 0 30px black;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    font-family: 'IBM';
    margin-bottom: 10px;
}

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 20px;
}

.menu a {
    text-decoration: none;
    background-color: #911204;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
}

.menu a:hover {
    background-color: #d2796f;
}

.result {
    font-size: 1.1rem;
    margin-top: 30px;
}

.blocked{
    color:#980a0a;
}

footer {
    background-color: #848383;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 40px;
}

footer p{
    line-height: 2rem;
    font-size: .8rem;
}


